@import "../common";

.second_nav_container{
    position: relative;
}
.decorator{
    width: 100%;
    height: 1px;
    background-color: $line_color;

}
.second_nav{
    width: 90%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    padding: 0 1em;
    height: 13%;
}

.second_nav_item{
    list-style: none;
    font-size: 10px;
    padding: 1em;
    color: $second_nav;
    border: 1px solid transparent;
}

.main_content{
   margin-top: 13%;
   flex: auto auto auto;
   width: 100%;
   display: flex;
  flex-wrap: wrap;
  gap: 5%;

}

.modal_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.icon_container{
      text-align: right;
      margin-top: 5%;
    svg {
        width: 20px;
        height: 20px;
        margin: 1em;
       path{
       stroke: #FFFFFF ;
       }
    }
}

.nav_publication{
    display: flex;
    justify-content: space-between;

    svg {
        width: 40px;
        height: 40px;
        margin: 1em;
        fill: transparent;
        background-color: #FFFFFF;
        border-radius: 50%;
        background-clip: border-box;
       :first-child{
        fill: #000000;
       }
    }

  
}

.nav_publication_left:hover{
    svg{
        background-color: $line_color;
    }
}

.nav_publication_right:hover{
    svg{
        background-color: $line_color
    }
}

@media (min-width: 768px){
    .second_nav_item{
        font-size: 1em;

    }

    .modal_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon_container{
        margin-top: 1%;
  }
  .nav_publication {

    position: absolute;
    width: 100%;

}
    
   }